:root {
  --base-white: #FFFFFF;
  --base-black: #1B1C1D;
  --base-transference: rgba(255, 255, 255, 0);
  --white-alpha-10: rgba(255, 255, 255, 0.1);
  --white-alpha-20: rgba(255, 255, 255, 0.2);
  --white-alpha-30: rgba(255, 255, 255, 0.3);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-50: rgba(255, 255, 255, 0.5);
  --white-alpha-60: rgba(255, 255, 255, 0.6);
  --white-alpha-70: rgba(255, 255, 255, 0.7);
  --white-alpha-80: rgba(255, 255, 255, 0.8);
  --white-alpha-90: rgba(255, 255, 255, 0.9);
  --black-alpha-10: rgba(27, 28, 29, 0.1);
  --black-alpha-20: rgba(27, 28, 29, 0.2);
  --black-alpha-30: rgba(27, 28, 29, 0.3);
  --black-alpha-40: rgba(27, 28, 29, 0.4);
  --black-alpha-50: rgba(27, 28, 29, 0.5);
  --black-alpha-60: rgba(27, 28, 29, 0.6);
  --black-alpha-70: rgba(27, 28, 29, 0.7);
  --black-alpha-80: rgba(27, 28, 29, 0.8);
  --black-alpha-90: rgba(27, 28, 29, 0.9);
  --ekko-midnight: #00034F;
  --ekko-lime: #B3F42C;
  --ekko-payday-blue: #3E58F1;
  --ekko-jade: #AEDFDA;
  --grey-50: #FBFBFB;
  --grey-100: #F5F5F5;
  --grey-200: #ECECEC;
  --grey-300: #DBDBDB;
  --grey-400: #A5A5A5;
  --grey-500: #7C7C7C;
  --grey-600: #5E5E5E;
  --grey-700: #4F4F4F;
  --grey-800: #232323;
  --grey-900: #141414;
  --payday-blue-50: #EDF0FE;
  --payday-blue-100: #D8DDFB;
  --payday-blue-200: #BCC6F8;
  --payday-blue-300: #90A3F4;
  --payday-blue-400: #6076EE;
  --payday-blue-500: #3E58F1;
  --payday-blue-600: #3247C2;
  --payday-blue-700: #253593;
  --payday-blue-800: #192465;
  --payday-blue-900: #131B4D;
  --success-50: #F4FBEA;
  --success-100: #E6F6D1;
  --success-200: #CFEEA8;
  --success-300: #AEE076;
  --success-400: #98D05B;
  --success-500: #7CC731;
  --success-600: #629C28;
  --success-700: #436E1D;
  --success-800: #38581C;
  --success-900: #2F411F;
  --warning-50: #FFF8DD;
  --warning-100: #FEEFB3;
  --warning-200: #FEE99A;
  --warning-300: #FDDF67;
  --warning-400: #FDD435;
  --warning-500: #FCC902;
  --warning-600: #CAA102;
  --warning-700: #977901;
  --warning-800: #655001;
  --warning-900: #4C3C01;
  --error-50: #FDF2F2;
  --error-100: #FEE6E5;
  --error-200: #FBD0D0;
  --error-300: #F8A9AA;
  --error-400: #F3797D;
  --error-500: #EC5962;
  --error-600: #D5394A;
  --error-700: #BC2439;
  --error-800: #971A2E;
  --error-900: #530B19;
  --spacing-none: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --spacing-160: 160px;
  --spacing-192: 192px;
  --spacing-224: 224px;
  --spacing-256: 256px;
  --spacing-320: 320px;
  --spacing-384: 384px;
  --spacing-480: 480px;
  --spacing-560: 560px;
  --spacing-640: 640px;
  --spacing-720: 720px;
  --spacing-768: 768px;
  --spacing-1024: 1024px;
  --spacing-1280: 1280px;
  --spacing-1440: 1440px;
  --spacing-1600: 1600px;
  --spacing-1920: 1920px;
  --radius-none: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-48: 48px;
  --radius-56: 56px;
  --radius-full: 9999px;
  --secondary-colors-blue: #1283EB;
  --secondary-colors-yellow: #FFE459;
  --secondary-colors-purple: #C000BD;
  --secondary-colors-teal: #0F9E9A;
  --secondary-colors-violet: #7B61FF;
  --secondary-colors-green: #2BBF5D;
  --base-text-primary: #141414;
  --base-text-secondary: #5E5E5E;
  --base-bg-secondary: #F5F5F5;
  --base-bg-primary: #FFFFFF;
  --base-text-tertiary: #A5A5A5;
  --base-border-primary: #DBDBDB;
  --base-fg-brand-500: #3E58F1;
  --base-bg-brand-500: #3E58F1;
  --base-bg-brand-600: #3247C2;
  --base-text-white: #FFFFFF;
  --base-fg-primary: #141414;
  --base-fg-tertiary: #A5A5A5;
  --base-bg-tertiary: #DBDBDB;
  --base-bg-brand-50: #EDF0FE;
  --base-border-brand: #90A3F4;
  --base-bg-warning-50: #FFF8DD;
  --base-border-success: #AEE076;
  --base-border-warning: #FDDF67;
  --base-border-error: #F8A9AA;
  --base-bg-grey-50: #FBFBFB;
  --base-bg-success-50: #F4FBEA;
  --base-bg-error-50: #FDF2F2;
  --base-fg-brand-600: #3247C2;
  --base-fg-secondary: #5E5E5E;
  --base-fg-tertiary: #DBDBDB;
  --base-border-secondary: #ECECEC;
  --base-bg-grey-200: #ECECEC;
  --base-bg-brand-200: #BCC6F8;
  --base-text-white-disable: #FFFFFF;
  --base-text-highlight: #3E58F1;
  --spacing-960: 960px;
  --lime-50: #F9FFE3;
  --lime-100: #F1FFC4;
  --lime-200: #E4FE95;
  --lime-300: #D1F880;
  --lime-400: #C2F656;
  --lime-500: #B3F42C;
  --lime-600: #8FC323;
  --lime-700: #6B921A;
  --lime-800: #486212;
  --lime-900: #36490D;
  --jade-50: #F2FAF9;
  --jade-100: #D6EFEB;
  --jade-200: #AEDFDA;
  --jade-300: #77C1BB;
  --jade-400: #60A9A6;
  --jade-500: #4A8D8B;
  --jade-600: #396E6E;
  --jade-700: #2F5758;
  --jade-800: #284446;
  --jade-900: #23393A;
  --text-white-disable: #FFFFFF;
  --text-white: #FFFFFF;
  --text-success: #629C28;
  --text-tertiary: #A5A5A5;
  --text-primary: #141414;
  --text-secondary: #5E5E5E;
  --text-highlight: #3E58F1;
  --text-brand-600: #3247C2;
  --text-brand-500: #3E58F1;
  --text-error: #D5394A;
  --text-warning: #CAA102;
  --bg-grey-50: #FBFBFB;
  --bg-tertiary: #DBDBDB;
  --bg-primary: #FFFFFF;
  --bg-error-600: #D5394A;
  --bg-error-50: #FDF2F2;
  --bg-warning-600: #CAA102;
  --bg-warning-200: #FEE99A;
  --bg-grey-200: #ECECEC;
  --bg-secondary: #F5F5F5;
  --bg-success-500: #7CC731;
  --bg-warning-500: #FCC902;
  --bg-grey-600: #5E5E5E;
  --bg-warning-50: #FFF8DD;
  --bg-success-200: #CFEEA8;
  --bg-error-200: #FBD0D0;
  --bg-success-50: #F4FBEA;
  --bg-grey-500: #7C7C7C;
  --bg-success-600: #629C28;
  --bg-brand-50: #EDF0FE;
  --bg-error-500: #EC5962;
  --bg-brand-600: #3247C2;
  --bg-brand-500: #3E58F1;
  --bg-brand-200: #BCC6F8;
  --border-success: #AEE076;
  --border-component: #8A38F5;
  --border-brand: #90A3F4;
  --border-secondary: #ECECEC;
  --border-graident-3: #ECECEC;
  --border-white: #FFFFFF;
  --border-tertiary: #A5A5A5;
  --border-primary: #DBDBDB;
  --border-warning: #FDDF67;
  --border-graident-2: #FFFFFF;
  --border-error: #F8A9AA;
  --border-graident-1: #DBDBDB;
  --icon-secondary: #5E5E5E;
  --bg-brand-highlight: #3E58F1;
  --icon-highlight: #3E58F1;
  --unity-alpha-alpha-10: rgba(255, 255, 255, 0.1);
  --unity-alpha-alpha-20: rgba(255, 255, 255, 0.2);
  --unity-alpha-alpha-30: rgba(255, 255, 255, 0.3);
  --unity-alpha-alpha-40: rgba(255, 255, 255, 0.4);
  --unity-alpha-alpha-50: rgba(255, 255, 255, 0.5);
  --unity-alpha-alpha-60: rgba(255, 255, 255, 0.6);
  --unity-alpha-alpha-70: rgba(255, 255, 255, 0.7);
  --unity-alpha-alpha-80: rgba(255, 255, 255, 0.8);
  --unity-alpha-alpha-90: rgba(255, 255, 255, 0.9);
  --text-on-highlight: #FFFFFF;
  --icon-on-highlight: #FFFFFF;
  --icon-primary: #141414;
}

/* Dark mode overrides */
[data-theme="dark"], .dark {
  --white-alpha-10: rgba(27, 28, 29, 0.1);
  --white-alpha-20: rgba(27, 28, 29, 0.2);
  --white-alpha-30: rgba(27, 28, 29, 0.3);
  --white-alpha-40: rgba(27, 28, 29, 0.4);
  --white-alpha-50: rgba(27, 28, 29, 0.5);
  --white-alpha-60: rgba(27, 28, 29, 0.6);
  --white-alpha-70: rgba(27, 28, 29, 0.7);
  --white-alpha-80: rgba(27, 28, 29, 0.8);
  --white-alpha-90: rgba(27, 28, 29, 0.9);
  --ekko-jade: #D6EFEB;
  --base-text-primary: #FBFBFB;
  --base-text-secondary: #DBDBDB;
  --base-bg-secondary: #1B1C1D;
  --base-bg-primary: #141414;
  --base-text-tertiary: #5E5E5E;
  --base-border-primary: #5E5E5E;
  --base-bg-brand-600: #6076EE;
  --base-fg-primary: #FBFBFB;
  --base-fg-tertiary: #5E5E5E;
  --base-bg-tertiary: #4F4F4F;
  --base-bg-brand-50: #131B4D;
  --base-border-brand: #3E58F1;
  --base-bg-warning-50: #4C3C01;
  --base-border-success: #7CC731;
  --base-border-warning: #FCC902;
  --base-border-error: #EC5962;
  --base-bg-grey-50: #141414;
  --base-bg-success-50: #2F411F;
  --base-bg-error-50: #530B19;
  --base-fg-brand-600: #6076EE;
  --base-fg-secondary: #DBDBDB;
  --base-fg-tertiary: #5E5E5E;
  --base-border-secondary: #4F4F4F;
  --base-bg-grey-200: #4F4F4F;
  --base-bg-brand-200: #253593;
  --base-text-white-disable: #4F4F4F;
  --base-text-highlight: #B3F42C;
  --text-white-disable: #4F4F4F;
  --text-success: #98D05B;
  --text-tertiary: #5E5E5E;
  --text-primary: #FBFBFB;
  --text-secondary: #DBDBDB;
  --text-highlight: #B3F42C;
  --text-brand-600: #6076EE;
  --text-brand-500: #6076EE;
  --text-error: #F3797D;
  --text-warning: #FDD435;
  --bg-grey-50: #141414;
  --bg-tertiary: #4F4F4F;
  --bg-primary: #232323;
  --bg-error-600: #F3797D;
  --bg-error-50: #530B19;
  --bg-warning-600: #FDD435;
  --bg-warning-200: #977901;
  --bg-grey-200: #4F4F4F;
  --bg-secondary: #141414;
  --bg-grey-600: #A5A5A5;
  --bg-warning-50: #4C3C01;
  --bg-success-200: #436E1D;
  --bg-error-200: #BC2439;
  --bg-success-50: #2F411F;
  --bg-success-600: #98D05B;
  --bg-brand-50: #131B4D;
  --bg-brand-600: #6076EE;
  --bg-brand-200: #253593;
  --border-success: #7CC731;
  --border-brand: #3E58F1;
  --border-secondary: #5E5E5E;
  --border-graident-3: #232323;
  --border-white: #1B1C1D;
  --border-tertiary: #7C7C7C;
  --border-primary: #5E5E5E;
  --border-warning: #FCC902;
  --border-graident-2: #141414;
  --border-error: #EC5962;
  --border-graident-1: #4F4F4F;
  --icon-secondary: #DBDBDB;
  --bg-brand-highlight: #B3F42C;
  --icon-highlight: #B3F42C;
  --unity-alpha-alpha-10: rgba(27, 28, 29, 0.1);
  --unity-alpha-alpha-20: rgba(27, 28, 29, 0.2);
  --unity-alpha-alpha-30: rgba(27, 28, 29, 0.3);
  --unity-alpha-alpha-40: rgba(27, 28, 29, 0.4);
  --unity-alpha-alpha-50: rgba(27, 28, 29, 0.5);
  --unity-alpha-alpha-60: rgba(27, 28, 29, 0.6);
  --unity-alpha-alpha-70: rgba(27, 28, 29, 0.7);
  --unity-alpha-alpha-80: rgba(27, 28, 29, 0.8);
  --unity-alpha-alpha-90: rgba(27, 28, 29, 0.9);
  --text-on-highlight: #141414;
  --icon-on-highlight: #141414;
  --icon-primary: #FBFBFB;
}
